[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
start = "flask run"

[packages]
flask = "*"
pymysql = "*"
python-dotenv = "*"
requests = "*"
flask-cors = "*"
bcrypt = "*"
alembic = "*"
mysqlclient = "*"

[dev-packages]
flask-swagger-ui = "*"
black = "*"
flake8 = "*"
autopep8 = "*"

[requires]
python_version = "3.12"
